header li {
    list-style: none;
}
a{
    text-decoration:none;
background-color: blue;
border: 2px solid black;
color:white;
display:block;
width:250px;
text-align: center;
margin-bottom: 1px;
}

h1{
    text-align: center;
    font-size:22px;
}
h3{
    text-align: center;
}
.back{
    font-style: italic;
}
h2{
    font-size:120%;
}
article{
    font-size:144%;
}
.zmist{
    font-weight: 600;
}
.vgory{
    text-transform:uppercase;
}
.bzif{
background-color: rgb(0, 208, 255);
color: wheat;
text-decoration: none;
}
.bzif:hover{
color: rgb(120, 67, 120);
}
.bzif:active{
color: rgb(129, 129, 40);
}
.child{
background-color: rgb(0, 208, 255);
color: wheat;
text-decoration: none;
}
.child:hover{
color: rgb(120, 67, 120);
}
.child:active{
color: rgb(129, 129, 40);
}
.schol{
background-color: rgb(0, 208, 255);
color: wheat;
text-decoration: none;
}
.schol:hover{
color: rgb(120, 67, 120);
}
.schol:active{
color: rgb(129, 129, 40);
}
.afts{
background-color: rgb(0, 208, 255);
color: wheat;
text-decoration: none;
}
.afts:hover{
color: rgb(120, 67, 120);
}
.afts:active{
color: rgb(129, 129, 40);
}
.unik{
background-color: rgb(0, 208, 255);
color: wheat;
text-decoration: none;
}
.unik:hover{
color: rgb(120, 67, 120);
}
.unik:active{
color: rgb(129, 129, 40);
}

#Базоваінформація{
background-color:green}
#Дитинство{
background-color:red}
#Шкільніроки{
background-color:aqua}
#Позашколою{
background-color:gray}
#Університет{
background-color:rgb(80,165,240)}

.r {
    width: 100%;
    display: flex;
    text-align: center;

}
.r div{
    display: flex;
    align-items: stretch;
}

.infa {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0;
}



@media (min-width: 992px) {
    .r{
        flex-wrap: wrap;
    }
    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-6 {
        width: 50%;
    }


}

@media (min-width: 768px) and (max-width: 992px) {
    .r {
        flex-wrap: wrap;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .r {
        flex-direction: column;
    }

    .col-sm-12 {
        width: 100%;
    }
}