h1{
    text-align: center;
    font-size:24px;
}
p
{
    font-size:120%;
}
.bio {
color:maroon ;
}
.bio:visited{
color :red;
}
.bio:hover{
color: gold;
}
.nov {
color: rgb(0, 255, 98);
}
.nov:visited {
color:red;
}
.nov:hover{
color: gold;
}
.fri {
color:rgb(255, 0, 170);
}
.fri:visited {
color:red;
}
.fri:hover{
color: gold;
}
.gal {
color:rgb(255, 94, 0);
}
.gal:visited {
color:red;
}
.gal:hover{
color: gold;
}
#biography.html:visited {
color: aqua; 
}
   #novadays.html:visited {
color: green; 
}
   #friends.html:visited {
color: blue; 
}
   #gallery.html:visited {
color: red; 
}
A:active {
color: pink;
}
.r{
    width: 100%;
    display: flex;
    text-align: center;

}
.infa {
    margin: 2px;
    border: 1px solid black;
    
}
/*PC*/
    @media (min-width: 992px) {
        .col-lg-4 {
            width: 25%;
        }
    }
   /*tablet*/
        @media (min-width: 768px) and (max-width: 992px) {
            .r {
                flex-wrap: wrap;
            }
        
            .col-md-6 {
                width: 50%;
            }
        
            .col-md-12 {
                width: 100%;
            }
        }
      
    /*mobile*/
    @media (max-width: 768px) {
        .r {
            flex-direction: column;
            
        }
    
        .col-sm-12 {
            width: 100%;
        }
    }